/*** Reset ***/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1.1;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
iframe {
	max-width: 100%;
}

/*** Basics ***/
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.7;
}

a,
a:active,
a:visited {
	text-decoration: none;
	padding: 2px 4px;
}

p {
	margin-bottom: 1rem;
	word-wrap: break-word;
}
ul,
ol {
	padding: 0 0 1rem 2rem;
}
ol li,
ul li {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

/* Disabling that heavy margin for nested lists */
ul ul, ul ol, ol ul, ol ol {
	padding-bottom: 0;
}

em,
i {
	font-style: italic;
}
strong,
b {
	font-weight: bold;
}
small {
	font-size: 0.85em;
}
sup {
	vertical-align: super;
	font-size: 0.85em;
}
sub {
	vertical-align: sub;
	font-size: 0.85em;
}

code {
	font: 0.90em "PragmataPro Liga", Iosevka, Menlo, Monaco, "Cascadia Code", Consolas, "Courier New", monospace;
	padding: 2px;
}

blockquote {
	margin: 1rem;
	padding: 0 1rem;
	border-left: 2px solid;
	font-style: italic;
	line-height: 1.5em;
}

acronym,
abbr {
	cursor: help;
	border-bottom: 1px dashed;
}

h1 {
	font-size: 1.3em;
	margin: 0 0 0.5rem 0;
}
h2 {
	font-size: 1.2em;
	margin: 0 0 0.5rem 0;
}
h3 {
	font-size: 1.1em;
	margin: 0 0 0.5rem 0;
}
h4, h5, h6 {
	font-size: 1em;
	margin: 0 0 0.5rem 0;
}

/* Definition lists*/
dl {
	text-align: justify;
	margin: 1rem;
}
dt {
	font-weight: bold;
	font-style: italic;
}

dt:after {
	content: ":";
}

dd {
	margin-left: 1rem;
	margin-bottom: 0.5em;
}

details summary:after {
	content: " - Click me!";
	text-align: right;
	font-style: italic;
	font-size: 0.85em;
	line-height: inherit;
	vertical-align: middle;
}
details summary {
	text-decoration: none;
	border-bottom: 1px solid;
	padding: 2px 4px;
	font-size: 1.1em;
	cursor: pointer;
}

details[open] summary:after {
	display: none;
}


/*** Structure ***/
#page {
	width: 600px;
	margin: 0 auto;
	position: relative;
}

#header {
	width: 600px;
	margin: 2rem auto 3rem auto;
}

#header h1 {
	font-size: 2em;
	margin-bottom: 4px;
}
#header h1 a {
	border: none;
	padding: 0;
}

figure {
	margin-bottom: 0.5em;
	padding-top: 0.25em;
}
/* Hacking linked figures */
figure a {
	border-bottom: none;
	display:block;
}

figure a:hover {
	background: initial;
}
figure figcaption {
	margin: 0 0.5rem;
}

figure figcaption p {
	font-size: 0.8rem;
}
figure figcaption .attribution {
	font-style: italic;
}

/* Video as figures */
figure video {
	max-width: 100%;
	margin: auto;
	display: block;
}

#footer {
	width: 600px;
	margin: 20px auto;
	padding-top: 1rem;
	font-size: 0.85em;
}

#content {
	width: 600px;
	margin: 0 auto;

	/* Dropping the duck */
	background-image: url("/img/duck.svg");
	background-repeat: no-repeat;
	background-size: auto 5em;
	background-position-x: right;
	background-position-y: bottom;
}

#sidebar {
	position: absolute;
	text-align: right;
	width: 160px;
	top: 0;
	left: -175px;
}

#sidebar li {
	list-style: none;
	margin: 2px 0;
}

#sidebar a {
	border: none;
	display: block;
	font-size: 1.2em;
	padding: 0;
}

#sidebar hr {
	width: 50%;
	margin-left: 50%;
}


#sidebar a span {
	padding: 2px 4px;
}

/*** Posts ***/
article {
	margin-bottom: 40px;
}

article h1 {
	margin: 0 0 10px 0;
}
article h1 a {
	border: none;
	padding: 0;
}
article h1 a:hover, article h1 a:active {
	padding: 0;
}
article h1 a.anchor {
	margin-left: 8px;
}

article p {
	text-align: justify;
}

article img {
	display: block;
	text-align: center;
	max-width: 100%;
	height: auto;
	margin: 0 auto 0.5rem auto;
}

article .meta {
	padding-top: 6px;
	font-size: 0.85em;
	font-style: italic;
}

img.left {
	float: left;
	margin: 0 1em 1em 0;
}
img.right {
	float: right;
	margin: 0 0 1em 1em;
}
img.center {
	display: block;
	text-align: center;
	margin: 0 auto 1em auto;
}

pre code {
	display: block;
	overflow: auto;
	line-height: 1.2rem;
	padding: 1rem;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.highlight {
	margin-top: 1rem;
	margin-bottom: 1rem;	
	border-top: solid 1px #665c54;
	border-bottom: solid 1px #665c54;
}

code[class*='language-'],
pre[class*='language-'] {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	// Added some fonts
	font-family: "PragmataPro Liga", Iosevka, Menlo, Monaco, "Cascadia Code", Consolas, "Courier New", monospace;
	font-size: 0.9em;
	line-height: 1.5;
}


#tags {
	display: inline;
	list-style-type: none;
	padding-left: 0;
}

.tag {
	display: inline;
}

/*** Pagination ***/
.postnavigation {
	padding-top: 10px;
	text-align: center;
	font-size: 0.85em;
}

.postnavigation .left {
	float: left;
}

.postnavigation .right {
	float: right;
}

/*** Media Queries ***/
@media all and (max-width: 870px) {
	article img {
		max-width: 100%;
	}

	#page,
	#header,
	#content,
	#footer {
		width: inherit;
		padding-left: 10px;
		padding-right: 10px;
	}

	#header {
		background-position: right 20px center;
	}
	#header h1,
	#header p {
		padding-left: 10px;
		padding-right: 10px;
	}

	#sidebar {
		text-align: left;
		width: 100%;
		margin: 1rem;
		margin-left: 0;
		margin-right: 0;
		display: block;
		text-align: center;
		position: initial;

	}

	#sidebar hr {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		display: inline;
	}

	#sidebar ul {
		display: inline;
	}

	#sidebar ul {
		padding-left: 0;
	}

	#sidebar ul li {
		display: inline;
	}

	#sidebar a {
		display: inline;
	}
}
