$mainWidth: 800px;
$sidebarWidth: 160px;
$sidebarMargin: 20px;
$mediaQueryWidth: $mainWidth + ($sidebarWidth + $sidebarMargin )* 2;

/*** Reset ***/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 1em 0;
}
iframe {
	max-width: 100%;
}

/*** Box sizing ***/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/*** Basics ***/
html body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.7;
}

p {
	margin-bottom: 1em;
	word-wrap: break-word;
	text-align: justify;
}
ul,
ol {
	padding: 0 0 1em 2em;
}

/* Disabling that heavy margin for nested lists */
ul ul, ul ol, ol ul, ol ol {
	padding-bottom: 0;
}

em,
i {
	font-style: italic;
}
strong,
b {
	font-weight: bold;
}
small {
	font-size: 0.85em;
}
sup {
	vertical-align: super;
	font-size: 0.85em;
}
sub {
	vertical-align: sub;
	font-size: 0.85em;
}

blockquote {
	margin: 1em;
	padding: 0 1em;
	border-left: 2px solid;
	font-style: italic;
	line-height: 1.5em;
}

a {
	text-decoration: none;
}

acronym,
abbr {
	cursor: help;
	border-bottom: 1px dashed;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

h1 {
	font-size: 1.5em;
}
h2 {
	font-size: 1.2em;
}
h3 {
	font-size: 1.1em;
}
h4, h5, h6 {
	font-size: 0.9em;
}

/* Definition lists*/
dl {
	text-align: justify;
	margin: 1em;
}
dt {
	font-weight: bold;
	font-style: italic;
}

dt:after {
	content: ":";
}

dd {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

details summary:after {
	content: " - Click me!";
	text-align: right;
	font-style: italic;
	font-size: 0.85em;
	line-height: inherit;
	vertical-align: middle;
}
details summary {
	text-decoration: none;
	border-bottom: 1px solid;
	padding: 2px 4px;
	font-size: 1.1em;
	cursor: pointer;
	background: none;
}

details[open] summary:after {
	display: none;
}

hr {
	border: solid 1px;
}

/** Code and Syntax highlighting **/
code {
	font: 0.90em "PragmataPro Liga", Iosevka, Menlo, Monaco, "Cascadia Code", Consolas, "Courier New", monospace;
}

pre code {
	display: block;
	overflow: auto;
	line-height: 1.2rem;
	padding: 0 1em;
	margin: 1em 0;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

mark {
	margin: 1em 0;
	border-top: solid 1px;
	border-bottom: solid 1px;
}

pre {
	border: solid;
	border-width: 2px 0;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	margin: 1em 0;
}


/*** Structure ***/
#page {
	width: $mainWidth;
	margin: 0 auto;
	position: relative;
}

#header {
	width: $mainWidth;
	margin: 2em auto;
	h1 {
		font-size: 2em;
		margin-bottom: 0.1em;
	}
}

#content {
	/* Dropping the duck */
	background-image: url("/img/duck.svg");
	background-repeat: no-repeat;
	background-size: auto 5em;
	background-position: right bottom;
}

#sidebar {
	position: absolute;
	text-align: right;
	width: $sidebarWidth;
	top: 0;
	left: -($sidebarWidth + $sidebarMargin);

	li {
		list-style: none;
	}
	a {
		border: none;
		font-size: 1.2em;
	}
	hr {
		width: 50%;
		margin-left: 50%;
	}

}

#footer {
	width: $mainWidth;
	margin: 2em auto;
	padding-top: 1em;
	font-size: 0.85em;
}

/*** Posts ***/

article {
	/* A little bit of margin to improve the post listing eye parsing. */
	margin-bottom: 2em;

	hr {
		width: 75%;
	}
	.content a {
		padding: 2px 4px;
	}

	img {
		display: block;
		text-align: center;
		max-width: 100%;
		height: auto;
		margin: 0 auto 0.5rem auto;
	}

	.meta {
		font-size: 0.85em;
		font-style: italic;
	}
}


figure {
	margin-bottom: 0.5em;
	padding-top: 0.25em;
	a {
		display:block;
	}
	a:hover {
		background: initial;
	}

	video {
		max-width: 100%;
		margin: auto;
		display: block;
	}

}
figcaption {
	margin: 0 0.5em;
	a {
		display: initial;
	}
	p {
		font-size: 0.85em;
	}

	.attribution {
		font-style: italic;
	}

	.attribution:before {
		content: "Attribution: ";
		display: inline;
	}
}

/* Tags */

#tags {
	list-style-type: none;
	padding-left: 1em;
}

.tag {
	display: inline;
}

.tag + .tag {
	padding: 0 0.25em;
}

.footnotes {
	font-size: 0.85em;
}

/* Tables*/
/* Inspired by latex.css (https://latex.now.sh/) */
table {
  width: auto;
  max-width: 100%;
  border-top: 2px solid;
  border-bottom: 2px solid;
  counter-increment: caption;
}
/* add bottom border on column table headings  */
table tr > th[scope='col'] {
  border-bottom: 1px solid;
}
/* add right border on row table headings  */
table tr > th[scope='row'] {
  border-right: 1px solid;
}
table > tbody > tr:first-child > td,
table > tbody > tr:first-child > th {
  border-top: 1px solid;
}
table > tbody > tr:last-child > td,
table > tbody > tr:last-child > th {
  border-bottom: 1px solid;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
  line-height: 1.1;
}

/*** Media Queries ***/
@media all and (max-width: $mediaQueryWidth) {
	#page,
	#header,
	#footer {
		width: inherit;
		padding-left: 10px;
		padding-right: 10px;
	}

	#sidebar {
		text-align: left;
		width: 100%;
		margin: 0 0 1em;
		display: block;
		text-align: center;
		position: initial;
		hr, ul, li {
			display: inline;
		}
		hr {
			margin: 0 0.5em;
		}

		ul {
			padding: 0;
		}
		li + li {
			margin-left: 0.5em;
		}
	}
}
