{{/*  OpenGraph metadata  */}}
        <meta property="og:site_name" content="{{ .Site.Title }}" />
        <meta property="og:title" content="{{ .Title }}" />
        <meta property="og:url" content="{{ .Permalink }}" />
        {{- with $.Param "description" }}
        <meta property="og:description" content="{{ . }}" />
        {{- end }}
{{/*  Twitter card metadata  */}}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:creator" content="@Eiyeron" />
{{/* Favicon */}}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
{{/* Chrome header color */}}
        <meta name="theme-color" content="#282828" />
